<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='robots' content='noindex,noarchive,nofollow'>
    <title>Game Night Group Search</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='main.css') }}">
    <script language="JavaScript">
        function see_stuff(stuff){
            if (stuff == 'newGroup'){
            document.getElementById('newGroup').style.display = 'block';
            document.getElementById('edit_Group').style.display = 'none';
            }
            else if (stuff == 'edit_Group'){
            document.getElementById('newGroup').style.display = 'none';
            document.getElementById(edit_Group).style.display = 'block';
            }
            else if (stuff == 'everything'){
                document.getElementById('newGroup').style.display = 'block'
                document.getElementById('edit_Group').style.display = 'block'
            }
            else {
            document.getElementById('newGroup').style.display = 'none';
            document.getElementById('edit_Group').style.display = 'none';
            }
        }
        function newGroup(){
            see_stuff('newGroup');
        }
        function edit_Group(){
            see_stuff('edit_Group');
        }
        function everything(){
            see_stuff('everything');
        }
    </script>

</head>
<body onload="see_stuff('everything')">
    <header>
        <h1>Game Night</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="players">Players Information</a>
        <a href="groups">Groups</a>
        <a href="games">Games</a>
        <a href="groupgames">Group Games</a>
        <a href = "groupmembership">Group Membership</a>
        <a href="events">Events</a>
    </nav>

    <h2>Search for Groups</h2>
<table id="group list" style="display: hidden" border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Group ID</th>
            <th>Name</th>
            <th>Meet Days</th>
    </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.groupid }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.meetday }}</td>
    </tr>

            
        </tr>
        {% endfor %}
    </tbody>
</table>

<footer>
    <p>&copy; 2023 Mark Marrero Jr.</p>
</footer>

</body>
</html>