<html>
<head>
<title>Game Night</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Game Night</h1>

<nav>
    <a href="/">Home</a>
    <a href="players">Players Information</a>
    <a href="groups">Groups</a>
    <a href="games">Games</a>
    <a href="groupgames">Group Games</a>
    <a href = "groupmembership">Group Membership</a>
    <a href="events">Events</a>
</nav>

<p>&nbsp;</p>
<dl>
    <dt><h3>Players</h3></dt>
    <dd>Lists various information about the people using the site including: player IDs, name, phone, and email address</dd>
    <dt><h3>Groups</h3></dt>
    <dd>Shows the different group's IDs, names, and which day(s) that group meets</dd>
    <dt><h3>Games</h3></dt>
    <dd>Gives various information about the different games players have registered as in their collections</dd>
    <dt><h3>Group Games</h3></dt>
    <dd>Lists what games (by ID) each group are playing currently</dd>
    <dt><h3>Group Memberships</h3></dt>
    <dd>Tells which players are in which group</dd>
    <dt><h3>Events</h3></dt>
    <dd>Lists events currently in the database</dd>

</dl>

<footer>
    <p>&copy; 2023 Mark Marrero</p>
</footer>

</body>
</html>